@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');
*{
    font-family: 'Scheherazade New', serif;
}
a {
color: #000000;
text-decoration: none;
}

a:hover { 
color: #0a58ca;
transform: scale(0.95);
}

.active {
    border-bottom: 3px solid #000000;
}

.thumbnail {
    display: block;
    position: relative;
}

.posttitle {
    color: white;
    text-align: justify;
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%
}

.headertitle:hover{
    transform: scale(0.9)
}

/* .readArticle img:hover */
img:hover { 
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}

.textJustify {
    text-align: justify;
}
